#rule-control {
  display: grid;
  grid-template-columns: 52px 100px;

  .contorl-text {
    align-self: center;
    text-align: right;
    font-size: 12px;
  }

  .contorl-selector {
    flex: 1;

    .react-select__single-value {
      font-size: 12px;
    }
  }
}
