body {
  background-color: aliceblue;
  font-family: 'Roboto Mono', monospace;
}

#cellular-automata-container {
  border-radius: 15px;
  border: 2px solid black;
  padding: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;

  header {
    font-size: 14px;
    align-self: center;
  }

  #controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;

    section {
      flex: 2;
      align-self: center;
    }
  }

  footer {
    font-size: 10px;
    align-self: center;
  }
}
